body{

font-family:Arial;

background:linear-gradient(135deg,#7bb95eda,#a8e063d3);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.quiz-container{

background:rgb(244,255,247);

padding:30px;

width:420px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

input{

width:90%;

padding:12px;

font-size:18px;

text-align:center;

border-radius:10px;

border:1px solid #ccc;

}

button{

padding:12px 20px;

margin:6px;

border-radius:10px;

border:none;

background:#548d57;

color:white;

font-size:18px;

cursor:pointer;

transition:0.2s;

}

button:hover{

transform:scale(1.05);

background:#3f7042;

}

.option{

background:#f1f8e9;

padding:18px;

margin:10px 0;

border-radius:12px;

cursor:pointer;

font-size:20px;

transition:0.2s;

}

.option:hover{

transform:scale(1.05);

}

.correct{

background:#22a326 !important;

color:white;

}

.wrong{

background:#d84f45 !important;

color:white;

}

#timer{

font-size:22px;

font-weight:bold;

}

#feedback{

font-size:20px;

font-weight:bold;

}

hr{

margin:25px 0;

border:1px solid #cde7c0;

}

.activity-title{

color:#2f5e31;

}