/* العناصر */

.rock,
.lichen,
.grass,
.bush,
.tree{

position:absolute;

background-size:contain;

background-repeat:no-repeat;

background-position:center;

bottom:10px;

}

/* الصخور */

.rock{

width:90px;

height:90px;

background-image:url('rock.png');

}

/* الأشنات */

.lichen{

width:55px;

height:55px;

background-image:url('lichen.png');

}

/* الأعشاب */

.grass{

width:70px;

height:90px;

background-image:url('grass.png');

}

/* الشجيرات */

.bush{

width:100px;

height:100px;

background-image:url('bush.png');

}

/* الأشجار */

.tree{

width:140px;

height:170px;

background-image:url(tree.png);

}